/* ------------------------------- internatoinalt ----------------------------------*/

#int .gridcon {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5vw;
    justify-content: center;
    align-items: center;
}

#int .griditem img {
    width: 30vw;
    padding: 1vw;
}

#int .gridcon .griditem {
    width: 50%;
    flex-grow: 1;
}

.griditem p {
    font-family: "Amiko", sans-serif;
    padding: 1vw;
}

.griditem h2 {
    padding: 1vw;
}

/* ------------------------------ internationalt media ---------------------------------------*/

@media only screen and (max-width: 600px) {
    #int .gridcon {
        display: block;
        margin-left: 0vw;
        margin-right: 0vw;
        padding: 0;
    }

    #int .griditem p,
    #int .griditem h2 {
        width: 100vw;
        padding: 1vw;
    }
    #int .griditem img {
        width: 100vw;
        padding: 0;
    }

    #int .griditem h2 {

        text-align: center;
    }
}
