/* ----------------------------- Om os ----------------------------------*/

#om_os #icon {
    margin-left: 0;
    margin-right: 0;
}

#om_os .gridcon {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;

}

#om_os #icons img {
    width: 15vw;
    padding: 1vw;

}

#om_os .splash {
    margin-left: 0;
}

#icons .griditem {
    margin: 2vw;

}

.griditem {
    flex-grow: 1;
    line-height: 1.7;

    text-align: center;
    width: 33%;
    color: #282828;
}

.griditem p {
    text-align: left;
    font-size: 0.8em;
}


#om_os_b {
    width: 100vw;
    background-size: cover;
    margin-left: 0;
    position: relative;
    margin-top: 2vw;

}

#om_os_b .griditem {
    background-color: #76d2d1;
    padding: 2vw;
    border-radius: 20px;
    text-align: left;
    color: #f9f9f9;
}

#icons h1 {
    text-align: center;
    font-size: 2em;
    color: #76d2d1;
}

/* -------------------------- om os media ----------------------------*/

@media only screen and (max-width: 600px) {
    #om_os .gridcon {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 5vw;
        padding: 0;
    }

    #om_os #icons img {
        width: 25vw;
        padding: 5vw;
        margin-left: 37vw;
    }

    #om_os .griditem p {
        text-align: center;
        padding: 1vw;
    }

    #om_os .griditem h1 {
        text-align: center;
    }

    #om_os .griditem h3 {
        text-align: center;
    }

    #om_os .griditem button {
        margin-left: 37vw;
    }
    .section {
        margin-left: 0;
        margin-right: 0;
    }
}
