@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Amiko:400,600,700");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

p {
  font-family: "Amiko", sans-serif;
}

/*---------------------- FORSIDE ------------------------------------*/
.splash {
  margin-left: 0;
}

.splash p {
  position: absolute;
  margin-left: 15vw;
  margin-top: -25vw;
  color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  z-index: 1;
}

#forside section {
  width: 100vw;
}

#forside #one {
  background-color: #76d2d1;
  padding: 5vw;
}

#forside #gridcon {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

#forside #gridcon2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
}

button {
  border: solid #5ba5a4 3px;
  color: #5ba5a4;
  padding: 0.5vw;
  border-radius: 10%;
  background-color: transparent;
}

iframe {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
  width: 55vw;
  height: 52.5vh;
}

#forside #icons .griditem img {
  width: 15vw;
  padding: 1vw;
}

#forside .griditem img {
  width: 35vw;
}

/*---------------------- FORSIDE SLUT ------------------------------------*/
/*---------------------- MENU --------------------------------------------*/

.hovedmenu {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f9f9f9;
  width: 100vw;
}

.hovedmenu img {
  width: 10vw;
  flex-basis: 1;
  padding: 1.5vw;
  padding-right: 5vw;
  margin-left: 10vw;
}

.hovedmenu .link {
  text-decoration: none;
  color: #76d2d1;
  flex-basis: 1;
  padding: 2.6vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}
.dropd {
  position: relative;
  display: inline-block;
  padding-top: 2.6vw;
}
.dropdownc {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdownc a {
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: #76d2d1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  padding: 1vw;
}

.dropdownc a:hover {
  background-color: #5ba5a4;
}

.dropd:hover .dropdownc {
  display: block;
}

.hovedmenu .link:hover {
  background-color: #5ba5a4;
}

/* --------------------------------- sticky header -----------------------*/
.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

/*---------------------- MENU SLUT --------------------------------------------*/

/* ----------------------------- Om os ----------------------------------*/

#om_os section {
  margin-left: 10vw;
  margin-right: 10vw;
}

#om_os #icon {
  margin-left: 0;
  margin-right: 0;
}

/* ------------------------------- aktiviteter ----------------------------------*/

#aktiv #gridcon {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon3 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
