@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Amiko:400,600,700");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

p {
  font-family: "Amiko", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Amiko", sans-serif;
}

/*---------------------- FORSIDE ------------------------------------*/
.splash {
  margin-left: 0;
}

.splash p {
  position: absolute;
  margin-left: 15vw;
  margin-top: -25vw;
  color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  z-index: 1;
}

#forside section {
  width: 100vw;
}

#forside #one {
  background-image: url("background/Background_Index_om.png");
  padding: 5vw;
}

#forside #gridcon {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

#forside #gridcon2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
}

button {
  border: solid #5ba5a4 3px;
  color: #5ba5a4;
  padding: 0.5vw;
  border-radius: 10%;
  background-color: transparent;
}

iframe {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
  width: 55vw;
  height: 52.5vh;
}

#forside #icons .griditem img {
  width: 15vw;
  padding: 1vw;
}

#forside .griditem img {
  width: 35vw;
}

/*---------------------- FORSIDE SLUT ------------------------------------*/
/*---------------------- MENU --------------------------------------------*/

.hovedmenu {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f9f9f9;
  width: 100vw;
}

.hovedmenu img {
  width: 10vw;
  flex-basis: 1;
  padding: 1.5vw;
  padding-right: 5vw;
  margin-left: 10vw;
}

.hovedmenu .link {
  text-decoration: none;
  color: #76d2d1;
  flex-basis: 1;
  padding: 2.6vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}
.dropd {
  position: relative;
  display: inline-block;
  padding-top: 2.6vw;
}
.dropdownc {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdownc a {
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: #76d2d1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  padding: 1vw;
}

.dropdownc a:hover {
  background-color: #5ba5a4;
}

.dropd:hover .dropdownc {
  display: block;
}

.hovedmenu .link:hover {
  background-color: #5ba5a4;
}

/* --------------------------------- sticky header -----------------------*/
.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

/*---------------------- MENU SLUT --------------------------------------------*/

/* ----------------------------- Om os ----------------------------------*/

#om_os section {
  margin-left: 10vw;
  margin-right: 10vw;
}

#om_os #icon {
  margin-left: 0;
  margin-right: 0;
}

#om_os #gridcon {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

#om_os #icons img {
  width: 15vw;
  padding: 1vw;
}

#om_os .splash {
  margin-left: 0;
}

#om_os .splash p {
  position: absolute;
  margin-left: 15vw;
  margin-top: -25vw;
  color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  z-index: 1;
}
/* ------------------------------- aktiviteter ----------------------------------*/

#aktiv #gridcon {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}
#aktiv #gridcon3 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

#aktiv .griditem img {
  width: 30vw;
  padding: 1vw;
}

#aktiv .griditem p {
  font-family: "Amiko", sans-serif;
  padding: 1vw;
}

#aktiv .griditem button {
  margin: 1vw;
}

#aktiv #baggrund {
  background-image: url("background/Background_Aktiviteter.png");
  background-size: cover;
}

/* ------------------------------------ kontakt ----------------------------------------*/

#kontakt .gridcon {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

#kontakt .splash p {
  position: absolute;
  margin-left: 15vw;
  margin-top: -25vw;
  color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  z-index: 1;
}

#kontakt form {
  display: grid;
  grid-template-columns: auto;
  margin-left: 15vw;
  margin-right: 15vw;
}

/* ------------------------------------ kontakt slut ----------------------------------------*/
/* ------------------------------------ undersider -----------------------------------------------*/
.gridcon {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5vw;
}

.underimg {
  width: 25vw;
}

/* ------------------------------------ undersider slut -----------------------------------------------*/
/* ------------------------------------ footer -----------------------------------------------*/

.gridcon_icons {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer_icons {
  width: 4vw;
}

footer {
  background-image: url("background/footer.png");
}
/* ------------------------------------ footer slut -----------------------------------------------*/

/* --------------------------------------- bruger menu --------------------------------------------*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
  font-family: "Amiko", sans-serif;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}
